#contact-info {
  font-size: .8em;
}

.job {
  background-color: #e9e5dc;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 25px;
}

.list-text {
  font-size: .8em;
}

ul > li {
	color: purple;
}